<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<hr>
<h1 style="color:#000;"><%= @user.first_name %></h1>
<h1 style="color:#000;"><%= @user.last_name %></h1>
<h1 style="color:#000;"><%= @user.username %></h1>
<h1 style="color:#000;"><%= @user.birthdate %></h1>
<h1 style="color:#000;"><%= @user.bio %></h1>

<%= link_to "Edit Profile", edit_user_registration_path %>
