<div class="random__bg" style="background-image: url('<%= randomized_background_image %>')">
  <div class="container">
    <div class="hero-body">
      <h5>Welcome to:</h5>
      <img src="" alt="" class="img-responsive">
      <button class="btn">default button</button>
      <button class="btn btn-primary">primary button</button>
    </div>
  </div>
</div>
<section class="check_us_out">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <h1>Check Us Out</h1>  
        <p>Take a look at some of our very talented members</p>
      </div>
      <div class="col col-12">
        <div class="row">
        <% @users.each do |member| %>
          <div class="col col-lg-4 col-md-6 col-xs-12 lms_card">
            <div class="lms-card__content">
              <h3><%= member.username %></h3>
              <h5>Leader / Competitive Team Leader</h5>
              <div class="social-links">
                
                <% if member.twitch.present? %>
                  <a href="<%= member.twitch %>" target="_blank">
                    <%= image_tag "icons/twitch-white.png", class: "content__icons"%>
                  </a>
                <% end %>

                <% if member.mixer.present? %>
                  <a href="<%= member.mixer %>" target="_blank" rel="noopener noreferrer">
                    <%= image_tag "icons/mixer-white.png", class: "content__icons"%>
                  </a>
                <% end %>

                <% if member.youtube.present? %>
                  <a href="<%= member.youtube %>" target="_blank" rel="noopener noreferrer">
                    <%= image_tag "icons/yt-white.png", class: "content__icons"%>
                  </a>
                <% end %>
                
                <% if member.instagram.present? %>
                  <a href="<%= member.instagram %>" target="_blank" rel="noopener noreferrer">
                    <%= image_tag "icons/instagram-white.png", class: "content__icons"%>
                  </a>
                <% end %>
                
                <% if member.twitter.present? %>
                  <a href="<%= member.twitter %>" target="_blank" rel="noopener noreferrer">
                    <%= image_tag "icons/twitter-white.png", class: "content__icons"%>
                  </a>
                <% end %>

              </div>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    </div>

  </div>
</section>