<!DOCTYPE html>
<html>
  <head>
    <title>LuminousclanCom</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,500,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <% if notice %>
    <div id="notice-wrapper">
      <p class="notice"><%= notice %></p>
    </div>
  <%elsif alert%>
    <div id="notice-wrapper">
      <p class="alert"><%= alert %></p>
    </div>
  <%end%>

  <body>
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a href="#" class="btn btn-link">Check Us Out</a>
      </li>
      <li class="nav-item">
        <a href="#" class="btn btn-link">Members</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><%= image_tag  "lms_logo_web-2.png", class: "img-responsive logo" %></a>
      </li>
      <li class="nav-item">
        <a href="#" class="btn btn-link">#LuminousggsRC</a>
      </li>
      <li class="nav-item">
        <a href="#" class="btn btn-link">Contact Us</a>
      </li>
    </ul>
    <%= yield %>
  </body>
  <footer>
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
  </footer>
</html>
